.detail-image{
    margin-top: 30px;
    background-color: rgb(245, 225, 218);
    height: 50%;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.detail-card{
    margin-right: 40px;
}
.detailimage-card{
    width: 300px;
    height:380px;
    border-radius: 20px;
}
.detailtitle{
    font-family: "Playfair Display", serif;
}
.detaildescription{
    font-family: "Playfair Display", serif;
    font-size: 17px;
    color: rgb(39, 35, 35);
}
.detailprice{
    font-family: "Playfair Display", serif;
    color: rgb(248, 18, 18);
    font-size: 30px;
}