.image{
    width: 160px;
    height: 200px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.card{
    width: 200px;
    height: 400px;
    box-shadow:1px 4px 3px rgb(41, 32, 32);
    border-radius: 10px;
    margin: 15px;
    background-color: rgba(223, 214, 226, 0.842);
    font-family: "Molengo", sans-serif;
    font-size: 14px;
}
.card:hover{
    box-shadow: 2px 4px 4px  rgba(82, 81, 81, 0.589);
    transition: all 0.6s;
    cursor: pointer;
}
.productlist{
    flex-wrap: wrap;
    margin-top: 40px;
}
.title{
    text-align: center;
    height: 50px;
}
.price{
    text-align: center;
    color: red;
}
.detail-buton{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(116, 87, 54, 0.644);
}
.detail-buton:hover{
    cursor: pointer;
    background-color:  rgb(230, 133, 22);
    transition: all 0.6s;
}
