body {
  padding: 0;
  margin: 0;
  background-image: 
    linear-gradient(rgba(168, 166, 166, 0.5), rgba(109, 105, 105, 0.349)),
    url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}